#main {
	background: lightblue;
	text-align: center;
	padding: 25px 0;
	margin-top: 150px;
}

#d {
	background: blue;
}

body {
	/*get background picture of car to use as main background or mountains n stuff*/
	background: green;
}


